html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #303030;
  backface-visibility: hidden;
}

a {
  display: block;
}

.bodyBox,
.mediaBox {
  height: auto;
  background-color: #1c1c1c;
  color: #d0d0d0;
  border-radius: 0px;
  border-style: solid;
  border-width: 2px 2px 8px;
  padding: 8px 16px;
  margin: 0 0 24px;
  box-shadow: 0 8px 8px #000000;
}

.navBar{
  background-color: #1c1c1c;
  border-style: solid;
  border-width: 8px 0 2px;
  border-color: #303030 #303030 #909090;
  height: 48px;
  margin: 0 0 24px;
  z-index: 1;
  box-shadow: 0 10px 8px #000000;
}

.navBar a {
  position: relative;
  bottom: 8px;
  text-decoration: none;
  border-top-color: inherit;
}

.navObject {
  height: 48px;
  width: 160px;
  color: #909090;
  font-weight: 600;
  text-align: center;
  border-style: solid;
  border-width: 8px 0 2px;
  border-radius: 0;
  border-color: #303030 #303030 #909090;
  background-color: #1c1c1c;
  transition:
    border-color 0.2s ease,
    border-width 0.2s ease,
    color 0.2s ease;
}

.nHome {
  color: #e0a040;
  border-bottom-color: #e0a040;
}
.nGames {
  color: #e04040;
  border-bottom-color: #e04040;
}
.nMusic {
  color: #40e040;
  border-bottom-color: #40e040;
}
.nArt {
  color: #4040e0;
  border-bottom-color: #4040e0;
}
.nMisc {
  color: #a040e0;
  border-bottom-color: #a040e0;
}

.navObject p{
  position: relative;
  margin: 0;
  top: 6px;
  transition: top 0.2s ease;
}

.bodyBox h1 {
  margin: 0 0 8px;
  text-align: center;
  font-variant: small-caps;
}
.mediaBox h1 {
  margin: 0 0 4px;
  text-align: left;
  font-variant: small-caps;
  font-size: 24px;
}
.bodyBox h2 {
  margin: -4px 0 4px;
  font-size: 16px;
  text-align: center;
}
.bodyBox p:not(.cancel),
.mediaBox p:not(.cancel) {
  color: #d0d0d0;
  text-align: justify;
}
.mediaContent {
  padding-right: 0;
}
.bodyBox a,
.mediaBox a {
  display: inline;
  font-weight: 500;
  transition:
    color 0.2s ease;
}
.mediaBox a {
  padding: 0;
  margin: 0 auto;
  display: inline;
}
.bodyBox a:hover,
.bodyBox a:active,
.mediaBox a:hover,
.mediaBox a:active {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.bodyBox img {
  max-height: 256px;
  margin: 4px auto;
  display: block;
}
.mediaBox img {
  border-width: 2px;
  border-color: #303030;
  border-style: solid;
  transition:
    border-color 0.2s ease;
}
.mediaBox img:hover,
.mediaBox img:active {
  border-color: #ffffff;
}
.mediaContent .genreTags {
  position: absolute;
  bottom: 0;
  right: 0;
}

.navObject:hover,
.navObject:active{
  border-width: 10px 1px 4px;
  border-color: #d0d0d0 #d0d0d0 #d0d0d0;
  color: #d0d0d0;
  cursor: pointer;
  margin: 0 0 24px;
}

.navObject:hover p{
  top: 4px;
}

.afterScroll {
  z-index: 0;
}

/* Courtesy of https://www.w3schools.com/howto/howto_js_sticky_header.asp */
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  width: 100%;
  position: fixed;
  top: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .afterScroll {
  padding-top: 72px;
}

.jumbotron {
  margin: 0;
  padding: 0;
  height: 196px;
  background-color: #1c1c1c;
}

.bgImage {
  width: auto;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.homeBgImage {
  background-image: url("../img/homeBanner.jpg");
}
.homeBgDeco {
  background-image: url("../img/portfolioDiamonds2.jpg")
}
.gamesBgImage {
  background-image: url("../img/gamesBanner.jpg");
}
.gamesBgDeco {
  background-image: url("../img/portfolioDiamonds2.jpg")
}
.musicBgImage {
  background-image: url("../img/musicBanner.jpg");
}
.musicBgDeco {
  background-image: url("../img/portfolioDiamonds2.jpg")
}
.artBgImage {
  background-image: url("../img/artBanner.jpg");
}
.artBgDeco {
  background-image: url("../img/portfolioDiamonds2.jpg")
}
.miscBgImage {
  background-image: url("../img/miscBanner.jpg");
}
.miscBgDeco {
  background-image: url("../img/portfolioDiamonds2.jpg")
}
.bgImage .repeatBgImage {
  background-repeat: repeat-x;
}

.jumbotron h1 {
  color: #d0d0d0;
  font-size: 24px;
  text-align: center;
  opacity: 0;
  position: relative;
  top: -112px;
  padding: 0 16px;
}

.container {
  margin-bottom: 32px;
}

.footerBar {
  width: 100%;
  height: 128px;
  background-color: #1c1c1c;
  border-color: #909090 #1c1c1c #303030;
  border-style: solid;
  border-width: 2px 0 8px;
  color: #d0d0d0;
  text-align: center;
  /*animation: colorswap 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;*/
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.noMargin {
  margin: 0;
  height: auto;
}
/*
@keyframes colorswap {
  0% {border-top-color: #e0a040; color: #e0a040;}
  20% {border-top-color: #e04040; color: #e04040;}
  40% {border-top-color: #40e040; color: #40e040;}
  60% {border-top-color: #4040e0;  color: #4040e0;}
  80% {border-top-color: #a040e0;  color: #a040e0;}
  100% {border-top-color: #e0a040; color: #e0a040;}
}
*/

.footerBar p {
  margin: 0;
  position: relative;
  top: 30px;
}

@media (max-width: 816px) {
  .navObject {
    width: 20%;
  }
}
@media (min-width: 992px) {
  .hideLarge {
    display: block;
  }
  .showLarge {
    display: none;
  }
}
@media (max-width: 991px) {
  .hideLarge {
    display: none;
  }
}
@media (min-width: 576px) {
  .hideSmall {
    display: block;
  }
  .showSmall {
    display: none;
  }
}

@media (max-width: 575px) {
  .navObject {
    font-size: 12px;
  }
  .fluidBlocks .container {
    padding-left: 0;
    padding-right: 0;
  }
  .fluidBlocks .row {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .fluidBlocks .col {
    padding-left: 0;
    padding-right: 0;
  }
  .bodyBox,
  .mediaBox {
    padding: 8px 0;
    border-width: 2px 0 8px;
  }
  .bodyBox img {
    max-height: 100%;
    max-width: 100%;
  }
  .bodyBox h1,
  .bodyBox h2,
  .bodyBox .noMargin,
  .mediaBox h1,
  .mediaBox .noMargin {
    margin-left: 8px;
    margin-right: 8px;
  }
  .mediaContent {
    padding: 0;
  }
  .bgImage {
    background-size: cover;
  }
  .hideSmall {
    display: none;
  }
  .showSmall {
    display: block;
  }
  .container {
    margin-bottom: -32px;
  }
  .footerBar {
    height: 64px;
  }
  .footerBar p {
    top: 0px;
    font-size: 12px;
  }
}
