<!doctype html>
<html lang="en">

   <script src="/Jauq.github.io/presets/head.js"></script>

   <body class="artBgDeco">

     <script src="/Jauq.github.io/presets/artJumbo.js"></script>

     <script src="/Jauq.github.io/presets/navbar.js"></script>

     <div class="afterScroll fluidBlocks">

<!-- Main Section -->
       <div class="container">

<div class="row">
  <div class="col">
    <div class="bodyBox nArt">
      <h1>Grids of Artwork</h1>
      <h2>Who Doesn't Love Grids?</h2>
      <p class="noMargin">Imagine a matrix of drawings, sketches, tilesets, logos and more. I'll probably steal Newgrounds' square thumbnail design for my site, it just works. All the art you see on this site was created by me unless specified otherwise. To find my other art you could either go to <a class="nArt" href="https://jauqar.newgrounds.com/art" target="_blank">Newgrounds</a> or my <a class="nArt" href="https://www.deviantart.com/jauqar" target="_blank">DeviantArt</a> page. DeviantArt has more stuff.</p>
    </div>
  </div>
</div>

       </div>
<!-- /Main Section -->

       <script src="/Jauq.github.io/presets/footer.js"></script>

     </div>

     <script src="/Jauq.github.io/scripts/navbarSticky.js"></script>

     <script src="/Jauq.github.io/scripts/footerYear.js"></script>

   </body>
</html>