<!doctype html>
<html lang="en">

   <script src="/Jauq.github.io/presets/head.js"></script>

   <body class="gamesBgDeco">

     <script src="/Jauq.github.io/presets/gamesJumbo.js"></script>

     <script src="/Jauq.github.io/presets/navbar.js"></script>

     <div class="afterScroll fluidBlocks">

<!-- Main Section -->
       <div class="container">

<div class="row">
  <div class="col">
    <div class="mediaBox nGames row">
      <a href="/Jauq.github.io/views/gamesApexyll.html" class="col col-auto"><img src="../img/256x128pi.jpg" alt="Apexyll Thumbnail"></img></a>
      <div class="mediaContent col-sm-12 col-md">
        <h1><a class="nGames" href="/Jauq.github.io/views/gamesApexyll.html">Apexyll</a></h1>
        <p class="noMargin">Test for a game of mine with that name.</p>
        <br class="showMed"/>
        <div class="genreTags">
          <a class="nGames" href="/Jauq.github.io/views/gamesGenrePuzzle.html">Puzzle</a>
          <a class="nGames" href="/Jauq.github.io/views/gamesGenreAdventure.html">Adventure</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="mediaBox nGames row">
      <a href="/Jauq.github.io/views/gamesRotary.html" class="col col-auto"><img src="../img/256x128pi.jpg" alt="Rotary Thumbnail"></img></a>
      <div class="mediaContent col-sm-12 col-md">
        <h1><a class="nGames" href="/Jauq.github.io/views/gamesRotary.html">Rotary</a></h1>
        <p class="noMargin">Test for a game of mine with that name.</p>
        <br class="showMed"/>
        <div class="genreTags">
          <a class="nGames" href="/Jauq.github.io/views/gamesGenrePuzzle.html">Puzzle</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="mediaBox nGames row">
      <a href="/Jauq.github.io/views/gamesSplit Space 2017.html" class="col col-auto"><img src="../img/256x128pi.jpg" alt="Split Space 2017 Thumbnail"></img></a>
      <div class="mediaContent col-sm-12 col-md">
        <h1><a class="nGames" href="/Jauq.github.io/views/gamesSplit Space 2017.html">Split Space 2017</a></h1>
        <p class="noMargin">Test for a game of mine with that name.</p>
        <br class="showMed"/>
        <div class="genreTags">
          <a class="nGames" href="/Jauq.github.io/views/gamesGenreArcade.html">Arcade</a>
          <a class="nGames" href="/Jauq.github.io/views/gamesGenreShooter.html">Shooter</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="mediaBox nGames row">
      <a href="/Jauq.github.io/views/gamesPentanium.html" class="col col-auto"><img src="../img/256x128pi.jpg" alt="Pentanium Thumbnail"></img></a>
      <div class="mediaContent col-sm-12 col-md">
        <h1><a class="nGames" href="/Jauq.github.io/views/gamesPentanium.html">Pentanium</a></h1>
        <p class="noMargin">Test for a game of mine with that name.</p>
        <br class="showMed"/>
        <div class="genreTags">
          <a class="nGames" href="/Jauq.github.io/views/gamesGenrePuzzle.html">Puzzle</a>
        </div>
      </div>
    </div>
  </div>
</div>

       </div>
<!-- /Main Section -->

       <script src="/Jauq.github.io/presets/footer.js"></script>

     </div>

     <script src="/Jauq.github.io/scripts/navbarSticky.js"></script>

     <script src="/Jauq.github.io/scripts/footerYear.js"></script>

   </body>
</html>