<!doctype html>
<html lang="en">

   <script src="../presets/viewsHead.js"></script>

   <body class="miscBgDeco">

     <script src="../presets/miscJumbo.js"></script>

     <script src="../presets/viewsNavbar.js"></script>

     <div class="afterScroll fluidBlocks">

<!-- Main Section -->
       <div class="container">

<div class="row">
  <div class="col">
    <div class="bodyBox nMisc">
      <h1>Semi-Proffesional Randomness</h1>
      <h2>What he Said.</h2>
      <p class="noMargin">This section of the site will be everything I make that I don't quite spend enough time on to give it a whole category on its own. I talking about my Discord bots, short stories, philosophical ideoligies, YouTube career, physical craft, and more. I'll still have a way to sort through it here, so that way it isn't just a messy pile of stuff.</p>
    </div>
  </div>
</div>

       </div>
<!-- /Main Section -->

       <script src="../presets/footer.js"></script>

     </div>

     <script src="../scripts/navbarSticky.js"></script>

     <script src="../scripts/footerYear.js"></script>

   </body>
</html>