<div class="row">
  <div class="col">
    <div class="mediaBox nGames row">
     <a href="#test" class="col col-auto"><img src="../img/256x128pi.jpg" alt="Placeholder Image"></img></a>
      <div class="mediaContent col-sm-12 col-md">
        <h1><a class="nGames" href="#test">Example Game</a></h1>
        <p class="noMargin">This is the description of this game. I need to find out exactly how much space I can take up before I run out.</p>
        <br class="showMed"/>
        <a class="nGames genreTags" href="#noneGenre">Alternative</a>
      </div>
    </div>
  </div>
</div>
