<!doctype html>
<html lang="en">

   <script src="/Jauq.github.io/presets/head.js"></script>

   <body class="gamesBgDeco">

     <script src="/Jauq.github.io/presets/gamesJumbo.js"></script>

     <script src="/Jauq.github.io/presets/navbar.js"></script>

     <div class="afterScroll fluidBlocks">

<!-- Main Section -->
<!-- /Main Section -->

       <script src="/Jauq.github.io/presets/footer.js"></script>

     </div>

     <script src="/Jauq.github.io/scripts/navbarSticky.js"></script>

     <script src="/Jauq.github.io/scripts/footerYear.js"></script>

   </body>
</html>