<!doctype html>
<html lang="en">

   <script src="/Jauq.github.io/presets/head.js"></script>

   <body class="gamesBgDeco">

     <script src="/Jauq.github.io/presets/gamesJumbo.js"></script>

     <script src="/Jauq.github.io/presets/navbar.js"></script>

     <div class="afterScroll fluidBlocks">

<!-- Main Section -->
       <div class="container">



<div class="row">
  <div class="col">
    <div class="mediaBox nGames row">
      <a href="/Jauq.github.io/views/gamesSplit Space 2017.html" class="col col-auto"><img src="/Jauq.github.io/img/256x128pi.jpg" alt="Split Space 2017 Thumbnail"></img></a>
      <div class="mediaContent col-sm-12 col-md">
        <h1><a class="nGames" href="/Jauq.github.io/views/gamesSplit Space 2017.html">Split Space 2017</a></h1>
        <p class="noMargin">Test for a game of mine with that name.</p>
        <br class="showMed"/>
        <div class="genreTags">
          <a class="nGames" href="/Jauq.github.io/views/games/genres/arcade.html">Arcade</a>
          <a class="nGames" href="/Jauq.github.io/views/games/genres/shooter.html">Shooter</a>
        </div>
      </div>
    </div>
  </div>
</div>


       </div>
<!-- /Main Section -->

       <script src="/Jauq.github.io/presets/footer.js"></script>

     </div>

     <script src="/Jauq.github.io/scripts/navbarSticky.js"></script>

     <script src="/Jauq.github.io/scripts/footerYear.js"></script>

   </body>
</html>